<div id="error-result-container" class="result-container mt-6 p-16">
  <div class="result-icon bg-negative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>close</title><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
  </div>
  <h2 class="text-xl mt-6">Error</h2>
  <p class="text-lg text-shadow">Failed to add the person to the system</p>
</div>