<div id="success-result-container" class="result-container p-16 {{#if includeMargin}}mt-6{{/if}}">
  <div class="result-icon bg-positive">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" /></svg>
  </div>
  <h2 class="text-xl mt-6">Success!</h2>
  <p class="text-lg text-shadow">John Doe has been added to the system</p>
  {{#if showLink}}
    <a class="result-reset text-primary">Add another person</a>
  {{/if}}
</div>